In [39]:
import pandas as pd

epc_filepath = 'https://media.githubusercontent.com/media/LondonEnergyMap/cleandata/master/epc/domestic/epcdom_10meters.csv'
dfepc = pd.read_csv(epc_filepath)

dfepc.head()

,pcode,bref,curr_enr,curr_encons,prop_type,builtform,la,transact_type,tfa,mainsgas,nrooms,wall,gasmeters,gasmid,elecmeters,elecmid
0,EC4Y 8DU,3221499468,C,9662,Flat,Detached,City of London,not recorded,48.30,Y,1,Wall,7.0,5636.993076,7.0,2874.8
1,EC4Y 8DU,2290543668,C,172,Flat,Mid-Terrace,City of London,rental (private),70.85,Y,3,"System built, as built, no insulation (assumed)",7.0,5636.993076,7.0,2874.8
2,EC4Y 8DU,6015699968,C,146,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,3,"Solid brick, as built, no insulation (assumed)",7.0,5636.993076,7.0,2874.8
3,EC4Y 8DU,9939448868,C,139,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,3,"Solid brick, as built, no insulation (assumed)",7.0,5636.993076,7.0,2874.8
4,EC4Y 8DU,1536490868,C,154,Flat,Enclosed Mid-Terrace,City of London,marketed sale,111.00,Y,4,"Solid brick, as built, no insulation (assumed)",7.0,5636.993076,7.0,2874.8

In [40]:
# pcode1 = dfepc.pcode.iloc[0:9999]
# pcode2 = dfepc.pcode.iloc[10000:19999]
# pcode3 = dfepc.pcode.iloc[20000:29999]
# pcode4 = dfepc.pcode.iloc[30000:39999]
# pcode5 = dfepc.pcode.iloc[40000:49999]
# pcode6 = dfepc.pcode.iloc[50000:]

In [41]:
# pcode1.to_csv('pcode1.csv', index=False)
# pcode2.to_csv('pcode2.csv', index=False)
# pcode3.to_csv('pcode3.csv', index=False)
# pcode4.to_csv('pcode4.csv', index=False)
# pcode5.to_csv('pcode5.csv', index=False)
# pcode6.to_csv('pcode6.csv', index=False)

In [42]:
imd_filepath = 'https://media.githubusercontent.com/media/LondonEnergyMap/cleandata/master/epc/domestic/imd/ecp10meters_pcode_imd.csv'
dfimd = pd.read_csv(imd_filepath)
dfimd.head()

,Postcode,Postcode Status,LSOA code,LSOA Name,Index of Multiple Deprivation Rank,Index of Multiple Deprivation Decile,Income Rank,Income Decile,Income Score,Employment Rank,...,Barriers to Housing and Services Rank,Barriers to Housing and Services Decile,Living Environment Rank,Living Environment Decile,IDACI Rank,IDACI Decile,IDACI Score,IDAOPI Rank,IDAOPI Decile,IDAOPI Score
0,EC4Y 8DU,Live,E01032740,City of London 001G E01032740,18868,6,31643,10,0.029,31733,...,6063,2,79,1,32367,10,0.018,32844,10,0.007
1,EC4Y 8DU,Live,E01032740,City of London 001G E01032740,18868,6,31643,10,0.029,31733,...,6063,2,79,1,32367,10,0.018,32844,10,0.007
2,EC4Y 8DU,Live,E01032740,City of London 001G E01032740,18868,6,31643,10,0.029,31733,...,6063,2,79,1,32367,10,0.018,32844,10,0.007
3,EC4Y 8DU,Live,E01032740,City of London 001G E01032740,18868,6,31643,10,0.029,31733,...,6063,2,79,1,32367,10,0.018,32844,10,0.007
4,EC4Y 8DU,Live,E01032740,City of London 001G E01032740,18868,6,31643,10,0.029,31733,...,6063,2,79,1,32367,10,0.018,32844,10,0.007

In [43]:
dfimd['Index of Multiple Deprivation Decile'].unique()

array([ 6,  7,  4,  2,  3,  1,  5,  9,  8, 10])

In [44]:
imd_dict = pd.Series(dfimd['Index of Multiple Deprivation Decile'].values, index=dfimd['Postcode']).to_dict()
imd_dict
# map postcode to deprivation index
dfepc['imd'] = dfepc.pcode.map(imd_dict)

In [52]:
# map nrooms=-1 to nroom based on floor area bands similar to NEED
import numpy as np

areabins = [0, 50, 100, 150, 200]
arealabels = [1, 2, 3, 4]

dfepc['nroomtfa'] = pd.cut(dfepc.tfa, areabins, labels=arealabels) 

dfepc['nroom'] = np.where(dfepc.nrooms==-1, dfepc.nroomtfa, dfepc.nrooms) 
dfepc.head()

,pcode,bref,curr_enr,curr_encons,prop_type,builtform,la,transact_type,tfa,mainsgas,...,wall,gasmeters,gasmid,elecmeters,elecmid,imd,nroomtfa,nroomstfa2,nrooms2,nroom
0,EC4Y 8DU,3221499468,C,9662,Flat,Detached,City of London,not recorded,48.30,Y,...,Wall,7.0,5636.993076,7.0,2874.8,6,1,1.0,1.0,1.0
1,EC4Y 8DU,2290543668,C,172,Flat,Mid-Terrace,City of London,rental (private),70.85,Y,...,"System built, as built, no insulation (assumed)",7.0,5636.993076,7.0,2874.8,6,2,3.0,3.0,3.0
2,EC4Y 8DU,6015699968,C,146,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,"Solid brick, as built, no insulation (assumed)",7.0,5636.993076,7.0,2874.8,6,2,3.0,3.0,3.0
3,EC4Y 8DU,9939448868,C,139,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,"Solid brick, as built, no insulation (assumed)",7.0,5636.993076,7.0,2874.8,6,2,3.0,3.0,3.0
4,EC4Y 8DU,1536490868,C,154,Flat,Enclosed Mid-Terrace,City of London,marketed sale,111.00,Y,...,"Solid brick, as built, no insulation (assumed)",7.0,5636.993076,7.0,2874.8,6,3,4.0,4.0,4.0

In [55]:
# convert property type and form to exposed sides

# create new column for number of exposed sides based on property type and form
prop_mapping = {'House': 0, 'Flat': -2, 'Bungalow': 0.5, 'Maisonette': -2,
                'Park home': 0}
built_mapping = {'Detached': 0, 'Semi-Detached': -1,
                 'End-Terrace': -1, 'Mid-Terrace': -2,
                 'Enclosed Mid-Terrace': -2.5, 'Enclosed End-Terrace': -1.5,
                 'NO DATA!': 0}

dfepc['propmap'] = dfepc.prop_type.map(prop_mapping)
dfepc['builtmap'] = dfepc.builtform.map(built_mapping)
dfepc['exposedsides'] = 6 + dfepc.propmap + dfepc.builtmap

dfepc['type'] = dfepc.prop_type.str.lower()
dfepc['form'] = dfepc.builtform.str.lower()

dfepc.head()

,pcode,bref,curr_enr,curr_encons,prop_type,builtform,la,transact_type,tfa,mainsgas,...,imd,nroomtfa,nroomstfa2,nrooms2,nroom,propmap,builtmap,exposedsides,type,form
0,EC4Y 8DU,3221499468,C,9662,Flat,Detached,City of London,not recorded,48.30,Y,...,6,1,1.0,1.0,1.0,-2.0,0.0,4.0,flat,detached
1,EC4Y 8DU,2290543668,C,172,Flat,Mid-Terrace,City of London,rental (private),70.85,Y,...,6,2,3.0,3.0,3.0,-2.0,-2.0,2.0,flat,mid-terrace
2,EC4Y 8DU,6015699968,C,146,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,6,2,3.0,3.0,3.0,-2.0,-2.0,2.0,flat,mid-terrace
3,EC4Y 8DU,9939448868,C,139,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,6,2,3.0,3.0,3.0,-2.0,-2.0,2.0,flat,mid-terrace
4,EC4Y 8DU,1536490868,C,154,Flat,Enclosed Mid-Terrace,City of London,marketed sale,111.00,Y,...,6,3,4.0,4.0,4.0,-2.0,-2.5,1.5,flat,enclosed mid-terrace

In [59]:
# convert wall and transaction type to building age

# create new column of building age based on wall description and transcation type
dfepc['wall_firstword'] = dfepc.wall.str.split().str.get(0)
wall_mapping = {'Cavity': 2, 'System': 3, 'Timber': 3}
dfepc['age'] = dfepc.wall_firstword.map(wall_mapping)
dfepc.age.fillna(1, inplace=True)
dfepc.loc[dfepc.transact_type == 'new dwelling', 'age'] = 6

dfepc.head()

,pcode,bref,curr_enr,curr_encons,prop_type,builtform,la,transact_type,tfa,mainsgas,...,nroomstfa2,nrooms2,nroom,propmap,builtmap,exposedsides,type,form,wall_firstword,age
0,EC4Y 8DU,3221499468,C,9662,Flat,Detached,City of London,not recorded,48.30,Y,...,1.0,1.0,1.0,-2.0,0.0,4.0,flat,detached,Wall,1.0
1,EC4Y 8DU,2290543668,C,172,Flat,Mid-Terrace,City of London,rental (private),70.85,Y,...,3.0,3.0,3.0,-2.0,-2.0,2.0,flat,mid-terrace,System,3.0
2,EC4Y 8DU,6015699968,C,146,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,3.0,3.0,3.0,-2.0,-2.0,2.0,flat,mid-terrace,Solid,1.0
3,EC4Y 8DU,9939448868,C,139,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,3.0,3.0,3.0,-2.0,-2.0,2.0,flat,mid-terrace,Solid,1.0
4,EC4Y 8DU,1536490868,C,154,Flat,Enclosed Mid-Terrace,City of London,marketed sale,111.00,Y,...,4.0,4.0,4.0,-2.0,-2.5,1.5,flat,enclosed mid-terrace,Solid,1.0

In [60]:
mains_dict = {'Y': 1, 'N': 0}
dfepc['maingas'] = dfepc.mainsgas.map(mains_dict)
dfepc.head()

,pcode,bref,curr_enr,curr_encons,prop_type,builtform,la,transact_type,tfa,mainsgas,...,nrooms2,nroom,propmap,builtmap,exposedsides,type,form,wall_firstword,age,maingas
0,EC4Y 8DU,3221499468,C,9662,Flat,Detached,City of London,not recorded,48.30,Y,...,1.0,1.0,-2.0,0.0,4.0,flat,detached,Wall,1.0,1.0
1,EC4Y 8DU,2290543668,C,172,Flat,Mid-Terrace,City of London,rental (private),70.85,Y,...,3.0,3.0,-2.0,-2.0,2.0,flat,mid-terrace,System,3.0,1.0
2,EC4Y 8DU,6015699968,C,146,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,3.0,3.0,-2.0,-2.0,2.0,flat,mid-terrace,Solid,1.0,1.0
3,EC4Y 8DU,9939448868,C,139,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,3.0,3.0,-2.0,-2.0,2.0,flat,mid-terrace,Solid,1.0,1.0
4,EC4Y 8DU,1536490868,C,154,Flat,Enclosed Mid-Terrace,City of London,marketed sale,111.00,Y,...,4.0,4.0,-2.0,-2.5,1.5,flat,enclosed mid-terrace,Solid,1.0,1.0

In [61]:
epc_dict = {'A': 1, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6}
dfepc['epc_band'] = dfepc.curr_enr.map(epc_dict)
dfepc.head()

,pcode,bref,curr_enr,curr_encons,prop_type,builtform,la,transact_type,tfa,mainsgas,...,nroom,propmap,builtmap,exposedsides,type,form,wall_firstword,age,maingas,epc_band
0,EC4Y 8DU,3221499468,C,9662,Flat,Detached,City of London,not recorded,48.30,Y,...,1.0,-2.0,0.0,4.0,flat,detached,Wall,1.0,1.0,2
1,EC4Y 8DU,2290543668,C,172,Flat,Mid-Terrace,City of London,rental (private),70.85,Y,...,3.0,-2.0,-2.0,2.0,flat,mid-terrace,System,3.0,1.0,2
2,EC4Y 8DU,6015699968,C,146,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,3.0,-2.0,-2.0,2.0,flat,mid-terrace,Solid,1.0,1.0,2
3,EC4Y 8DU,9939448868,C,139,Flat,Mid-Terrace,City of London,marketed sale,66.00,Y,...,3.0,-2.0,-2.0,2.0,flat,mid-terrace,Solid,1.0,1.0,2
4,EC4Y 8DU,1536490868,C,154,Flat,Enclosed Mid-Terrace,City of London,marketed sale,111.00,Y,...,4.0,-2.0,-2.5,1.5,flat,enclosed mid-terrace,Solid,1.0,1.0,2

In [62]:
epc_cols = ['bref', 
             'imd', 
             'type', 
             'form', 
             'exposedsides', 
             'tfa', 
             'epc_band', 
             'age', 
             'nroom', 
             'maingas', 
             'gasmid', 
             'elecmid',
             'gasmeters',
             'elecmeters']

dfepc = dfepc[epc_cols]
dfepc.head()

,bref,imd,type,form,exposedsides,tfa,epc_band,age,nroom,maingas,gasmid,elecmid,gasmeters,elecmeters
0,3221499468,6,flat,detached,4.0,48.30,2,1.0,1.0,1.0,5636.993076,2874.8,7.0,7.0
1,2290543668,6,flat,mid-terrace,2.0,70.85,2,3.0,3.0,1.0,5636.993076,2874.8,7.0,7.0
2,6015699968,6,flat,mid-terrace,2.0,66.00,2,1.0,3.0,1.0,5636.993076,2874.8,7.0,7.0
3,9939448868,6,flat,mid-terrace,2.0,66.00,2,1.0,3.0,1.0,5636.993076,2874.8,7.0,7.0
4,1536490868,6,flat,enclosed mid-terrace,1.5,111.00,2,1.0,4.0,1.0,5636.993076,2874.8,7.0,7.0

In [63]:
rename_cols = ['hid', 
             'imd', 
             'type', 
             'form', 
             'exposedsides', 
             'tfa', 
             'epc', 
             'age', 
             'nroom', 
             'maingas', 
             'gcons', 
             'econs',
             'gmeters',
             'emeters']
dfepc.columns = rename_cols